/*Made by Klingri*/
/*Heres da plan, i move prety much all of dis code into their own css files for organization and not losing mah mind*/

:root {
    /* Default theme, for the themes manager*/
    --bg-main: #121212;
    --text-main: #F8F9FA;
    --accent: #27ae60;
    --nav-bg: rgba(53, 53, 53, 0.2);
    --card-bg: #252525;
    --input-bg: #2b2a2a;
}

body,
.ban-page {
    background: var(--bg-main);
    color: var(--text-main);
    text-align: center;
}

.site-footer {
    border-top-color: var(--card-bg) !important;
    border-top: var(--card-bg) !important;
}

.tab-bar,
.dl-hero,
.dl-card {
    border-bottom-color: var(--card-bg) !important;
    border-bottom: var(--card-bg) !important;
    border: var(--card-bg) !important;
    border-color: var(--card-bg) !important;
}

.game-description-box,
.server-card,
.site-footer {
    background: var(--bg-maing) !important;
}

/* Container overhaul */
#page {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px !important;
    border: 1px solid #0000001a;
    /* Modern layered shadow */
    box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);

    margin-top: 20px;
}

.vpro-nav-btn {
    border-radius: 8px !important;
    padding: 8px 15px !important;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    margin-left: 8px;
    background-color: var(--input-bg) !important;
    border: 0px none !important;
    border-color: none !important;
    color: var(--text-main) !important;
}

.load-notice {
    color: #444444 !important;
    background-color: var(--bg-main) !important;
}

.catalog-section-divider,
.catalog-header,
.dl-notice,
.dl-code,
.market-card {
    background-color: var(--bg-main) !important;
    background: var(--input-bg) !important;
    border: var(--card-bg) !important;
}

.games-grid,
.body-colors-grid {
    padding: 8px 15px;
}

.game-detail-info,
.game-description-box,
.profile-info-panel,
.error-msg,
.empty-msg,
.catalog-title {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
div,
label,
.profile-stat strong,
.friend-name,
.link-row a,
.tab-btn.active,
.user-row-name,
.game-stat-value,
input,
.user-card-name,
.profile-last-seen {
    color: var(--text-main) !important;
}

/* Different Cursor State */
/* 1. Base default for everything */
body,
body * {
    cursor: default;
}

/* 2. Re-enable pointer ONLY for genuinely interactive elements */
a,
button,
input[type="submit"],
.is-clickable {
    cursor: pointer;
}

/* 3. Re-enable text cursor ONLY for typing areas */
input[type="text"],
textarea,
[contenteditable="true"] {
    cursor: text;
}

/* hover underline */
:where(a, button, h1, h2, h3, h4, h5, h6, p, b, i, strong, h6, span):hover {
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-underline-offset: 0.4em;/
}