.navbar {
    /* Semi-transparent background color (white with 20% opacity) */
    background: var(--nav-bg) !important;

    /* The actual blur effect */
    backdrop-filter: blur(28px) !important;
    -webkit-backdrop-filter: blur(32px) !important;
    /* Required for Safari support */

    /* Optional: Adds a subtle border to the bottom of the header */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.btn-discord {
    background-color: hsl(245, 90%, 30%) !important;
}

.navbar-search input:focus {
    background: var(--nav-bg) !important;
    border-color: var(--nav-bg) !important;
    box-shadow: 2px var(--nav-bg) !important;
}