/* New in BetterVortex 3.0, August 5, 2026*/
/* Friend Cards hover effect */
.friend-card {
    transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.3s ease;
    border-radius: 10px;
    will-change: transform;
}

.user-card {
    background-color: var(--bg-main) !important;
    border: var(--accent) !important;
}

.user-card,
.user-card-actions,
.user-card-name {
    background-color: var(--card-bg) !important;
    color: var(--text-main) !important;
}

.friend-card:hover {
    transform: translateY(-5px);
    background: #0000001a !important;
    background-color: rgba(0, 0, 0, 0.15) !important;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.market-card:hover,
.face-card:hover,
.game-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}