/*Made by Klingri*/
body {
   background: #121212 !important;
   color: white;
}

button,
input {
   background: #2b2a2a !important;
   color: #FFFFFF;
   outline: none;
   border: 0px !important;
}

#username,
#password {
   border: 0px !important;
   color: white;
}

* {
   border-color: rgb(56, 56, 56) 1px solid !important;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body::selection {
   color: rgb(108, 214, 9) !important;
}

.logo,
.wrap h1,
.link-row {
   text-align: center;
}

.navbar-logo:hover,
.profile-username:hover {
   color: rgb(163, 163, 163) !important;
   transition: 0.5s;
}

.game-card-thumb {
   background-color: #646464 !important;
}

.friend-avatar:hover {
   background: black !important;
}

input:focus {
   border: 2px solid rgb(67, 153, 238) !important;
}

.navbar {
   color: #FFFFFF !important;
   background-color: #1E1E1E !important;
}

.navbar-logo {
   color: #FFFFFF !important;
   background-color: rgb(27, 26, 26) !important;
}

.body {
   border-top-color: 1px solid rgb(65, 65, 65) !important;
   border-bottom-color: 1px solid rgb(65, 65, 65) !important;
   border-right-color: 1px solid rgb(65, 65, 65) !important;
   border-left-color: 1px solid rgb(65, 65, 65) !important;
}

.field label:hover {
   font-size: 15px !important;
   transition: 0.3s ease-in-out;
   cursor: pointer;
}

.link-row a:hover,
button:hover {
   color: rgb(139, 139, 139) !important;
   transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
div,
label,
.profile-stat strong,
.friend-name,
.link-row a,
.tab-btn.active,
.user-row-name,
.game-stat-value,
input {
   color: #FFFFFF !important;
}